{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4 pt-3">
            <div class="card" style="position: relative">
                <div class="card-header">
                    <div class="card-title">
                        <h2>Quote of the day..</h2>
                    </div>
                </div>
                <div class="card-body">
                    <h2 class="quoted-author">{{ quote.author }}</h2>
                    <p class="quoted-quote">{{ quote.quote }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            {% for idea in ideas %}
            <div class="body-content mt-3">
                <h4 class="idea-title">{{idea.idea_title}}</h4>
                <h5 class="subtitle"> {{idea.description}}</h5>

                <h6 class="idea-name">Posted by ~</h6>
                <img src="{{ idea.profile_pic_path }}" alt="">
                <p class="text-muted">Posted on ~ {{idea.date.strftime('%Y-%m-%d')}}</p>
                
                <button type="button" class="btn btn-outline-success btn-sm"><a
                        href="/new_comment/{{idea.id}}">Comment</a></button>
                <button type="button" class="btn btn-outline-success btn-sm"><a href="/comments/{{idea.id}}">View
                        comments</a></button>
                        <hr>
                        <hr>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}