{% extends 'base.html'%}
    {% import 'macros.html' as macro%}
    {% if title %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {% else %}
    <title>Blog post</title>
    {% endif %}
</head> 
 
    <!-- Styles block -->
    {% block styles%}
          {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    {% endblock %}
    <!-- Content block -->
    {% block content %}
    <body>
        <div class="jumbotron">
            <h1>WELCOME TO MY BLOG POST</h1>
        </div>
        <div class="container">

            <div class="row">

                <div class="col-md-4" style="text-align: justify;">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">
                                <h2>Quote of the day..</h2>
                            </div>
                        </div>
                        <div class="card-body">
                            <h2 class="quoted-author">{{ quote.author }}</h2>
                            <p class="quoted-quote">{{ quote.quote }}</p>
                        </div>
                    </div>
                </div>
            <div class="col-md-8">
            <div class="card" style="text-align: center;">
                <div class="card-body">
                  <h5 class="card-title" style="font-style: italic; font-size: 25px;">Blogs</h5>
                  <p class="card-text" style="font-size: 30px;">Welcome to Mercy Vugutsa's blog post whereby one can be able to comment on the 
                      blog,view the blog and also sign in to the blog.
                  </p>
                </div>
              </div>
            </div>
    {% endblock%}
    </div>
</body>